* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 23px;
    background: #fff;
    height: 535px;
    width: 327px;
}

.illustration {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    top: 0;
    /* left: calc(50% - calc(240px /2)); */
    position: relative;
    height: 145px;
    width: 327px;
}

.shadow {
    position: absolute;
    height: 145px;
    width: 240px;
    background: no-repeat url("images/bg-pattern-mobile.svg");
}

.women {
    position: absolute;
    top: -108px;
    left: calc(50% - calc(296px / 2));
    height: 180px;
    width: 266px;
    background: no-repeat url("images/illustration-woman-online-mobile.svg");
}

.faq {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    margin-bottom: 45px;
}

.content {
    width: 100%;
}

.group {
    border-bottom: 1px solid #E8E8EA;
    padding-top: 19px;
    font-size: 13px;
}

.group:first-child {
    padding-top: 0;
}

.question-div {
    padding-bottom: 19px;
    transition: color 0.1s linear;
}

.question-div:hover {
    cursor: pointer;
    color: #F47B56;
}

.question {
    position: relative;
}

.question::after {
    content: '';
    position: absolute;
    top: calc(50% - 3.5px);
    right: 0;
    width: 10px;
    height: 7px;
    background: no-repeat url(images/icon-arrow-down.svg);
    transition: 0.3s linear;
}

.selected {
    font-weight: 700;
}

.selected::after {
    transform: rotateZ(-180deg);
}

.answer {
    display: none;
    width: 100%;
    color: #787887;
    transition: 1s linear;
    line-height: 1.3em;
}

.display-answer {
    display: flex;
    align-items: center;
    animation: 0.7s linear forwards displayAnswer;
}

.remove-answer{
    height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    animation: 0.7s linear forwards removeAnswer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@keyframes displayAnswer{
    0%{
        height: 0px;
        margin-bottom: 19px;
        opacity: 0;
    }
    60%{
        opacity: 0;
        color: #F47B56;
    }
    90%{
        color: #F47B56;
    }
    100%{
        height: 40px;
        margin: 13px 0;
        opacity: 1;
    }
}

@keyframes removeAnswer{
    0%{
        height: 40px;
        margin: 13px 0;
        opacity: 1;
    }

    40%{
        opacity: 0;
    }

    100%{
        height: 0px;
        margin: 0;
        margin-bottom: 19px;
        opacity: 0;
    }
}